{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mb-4 mt-4">
  <h1 style="border-bottom: 3px solid #3d3d47; display: inline-block; color: #3b3e47;">Your Collection</h1>
</div>

<div class="mb-4">
  <a href="{% url 'home.index' %}" class="nav-link px-0" style="font-size: 1rem; color: #555d63; text-decoration: underline;">
    ← Back to Home
  </a>
</div>

<div class="grid-5">
  {% for p in pokemons %}
    <a href="{% url 'pokemonDetail' p.id %}" style="text-decoration: none; color: inherit;">
      <div class="card">
        <img src="{{ p.image_url }}" alt="{{ p.name }}">
        <h3>
          {{ p.name }}
          {% if p.nickname %}
            <br><small>“{{ p.nickname }}”</small>
          {% endif %}
        </h3>
        <p>
          <strong>Type:</strong> {{ p.type }}<br>
          <strong>HP:</strong> {{ p.hp }}<br>
          <strong>Attack:</strong> {{ p.attack }}
        </p>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}