.bg-index{
  background: url("/static/img/background.jpg") no-repeat
    fixed;
  background-size: 100% auto;
}
.navbar a.nav-link {
  color: #FFFEF6 !important;
}
.bg-dark {
  background-color: #2E2E2E !important;
}
.ms-footer {
  background-color: #202020;
}
.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}
.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}
.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom a:hover {
  color: #fff;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
    color: #fff;
}

/* This is the formatting for the collections page*/
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}

.card h3 small {
  font-style: italic;
  color: #666;
}